# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own. See docs at: <https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners>

# Top level code owners requested for review if no lower condition takes precedence:

*       @nickhenden

# Code owners can be specified below for specific directories, file patterns or files:
