[project]
name = "afcharts-py"
version = "0.1.0"
description = "Standardised plotting configuration tools to meet Analysis Function plotting guidelines."
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.3",
    "plotly>=6.1.2",
    "seaborn>=0.13.2",
]
